<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
  <h2> Пользователь</h2>
  <form action="#" th:action="@{'/users/' + ${user.id} + '/update'}" th:object="${user}" method="post">
    <label hidden="true">
      <input type="text" th:field="*{id}"/>
    </label>
    <label>
      Имя: <input type="text" th:field="*{name}"/>
      <p th:if="${userFields?.hasFieldErrors('name')}">Имя должно содержать не менее двух букв</p>
    </label> <br/>
    <label>
      Фамилия: <input type="text" th:field="*{surname}"/>
      <p th:if="${userFields?.hasFieldErrors('surname')}">Фамилия должна содержать не менее двух букв</p>
    </label> <br/>
    <label>
      Отчество: <input type="text" th:field="*{patronymic}"/>
      <p th:if="${userFields?.hasFieldErrors('patronymic')}">Отчество должно содержать не менее двух букв</p>
    </label> <br/>
    <label>
      Возраст: <input type="text" th:field="*{age}"/>
      <p th:if="${userFields?.hasFieldErrors('age')}">Указан ненастоящий возраст</p>
    </label> <br/>
    <label>
      Зарплата: <input type="text" th:field="*{salary}"/>
      <p th:if="${userFields?.hasFieldErrors('salary')}">Зарплата должна быть больше 0</p>
    </label> <br/>
    <label>
      Почта: <input type="text" th:field="*{email}"/>
      <p th:if="${userFields?.hasFieldErrors('email')}">Email должен быть вида example@mail.com</p>
    </label> <br/>
    <label>
      Работа: <input type="text" th:field="*{job}"/>
      <p th:if="${userFields?.hasFieldErrors('job')}">Работа не указана</p>
    </label> <br/>
    <label>
      <input type="submit" value="Изменить"/>
    </label> <br/>
  </form>
  <form th:action="@{'/users/' + ${user.id} + '/delete'}" th:object="${user}" method="post">
    <input type="submit" value="Удалить">
  </form>

  <form action="/send-email" th:object="${email}" th:method="post">
    <p>Написать письмо: </p>

    <label> User mail:
      <input type="text" th:field="*{to}" th:value="${user.email}"/>
      <p th:if="${emailFields?.hasFieldErrors('to')}">Некорректный email</p>
    </label> <br/>
    <label> Тема:
      <input type="text" th:field="*{subject}"></input>
      <p th:if="${emailFields?.hasFieldErrors('subject')}">Введите тему письма</p>
    </label> <br/>
    <label> Содержание: <br/>
      <textarea th:field="*{content}" rows="8" cols="40"></textarea> <br/>
      <p th:if="${emailFields?.hasFieldErrors('content')}">Введите сообщение</p>
    </label> <br/>
    <input type="submit" value="Отправить"/>
  </form>
</body>
</html>